<div class="container my-5">
    <h1 class="mb-3">Edit Leaf</h1>

    <div class="row">
        <div class="col-3">
            <form #from="ngForm" (ngSubmit)="updateLeaf()">
              <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="text" class="form-control" id="id" name="id" readonly [(ngModel)]="leafDetails.id">
              </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="leafDetails.name">
                </div>
                <div class="mb-3">
                  <label for="parentId" class="form-label">ParentId</label>
                  <input type="text" class="form-control" id="parentId" name="parentId" [(ngModel)]="leafDetails.parentId">
                </div>

                <button type="submit" class="btn btn-primary mr-5">Save</button>
                <button type="button" class="btn btn-danger mr-10" (click)="deleteLeaf(leafDetails.id)">Remove</button>
              </form>
        </div>
    </div>
</div>
